body {
    margin: 0;   
    padding-right:22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    justify-content: center;
    background: url("img/7.jpg");
    background-size: cover;
    font-family: Cascadia Code, sans-serif;
}
.container {
    color: rgb(255, 255, 255);
    padding: 3rem;
    z-index: 2;
    border-radius: 25px;
    background: rgb(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 4px );
    border: 0px solid rgba( 255, 255, 255, 0.18 );
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
}

.clock {
    text-align: center;
    display: flex;
    /* z-index: 2; */
}
.clock div {
    margin: 5px;
}
.clock span {
    width: 100px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px 10px 0 0;
    opacity: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.clock .text {
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: rgba(240, 255, 30, 0.8);
    border-radius: 0;
    /* background-size: cover; */
    opacity: 1;
}

#ampm {
    bottom: 83px;
    position: absolute;
    width: 20px;
    height: 5px;
    border-radius: 0px;
    font-size: 10px;
    padding: 10px;
}